name: WordPress SQE Test Pipeline

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

jobs:
 php-unit-tests:
  runs-on: ubuntu-latest
  steps:
    - uses: actions/checkout@v4

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.2'
        extensions: mbstring, mysqli

    - name: Install Composer Dependencies
      run: composer install --no-interaction

    - name: Fix PHPUnit Permissions
      run: chmod +x vendor/bin/phpunit

    - name: Run PHPUnit Tests
      run: vendor/bin/phpunit --testdox

  backend-api-tests:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: wordpress_test
        ports:
          - 3306:3306

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Python Deps
        run: |
          pip install pytest requests mysql-connector-python pytest-cov

      - name: Wait for DB
        run: |
          for i in {1..25}; do
            mysqladmin ping -h127.0.0.1 -uroot -proot && break
            sleep 2
          done

      - name: Run DB Tests
        run: pytest Adil-tests -v

      - name: Run API Tests
        run: pytest api-tests -v

  ui-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install Cypress
        run: |
          if [ ! -f package.json ]; then npm init -y; fi
          npm install cypress --save-dev

      - name: Start PHP Server
        run: |
          php -S localhost:8080 -t . > server.log 2>&1 &
          sleep 5

      - name: Run Cypress Tests
        run: npx cypress run --headless
