name: WordPress SQE CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  php-unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          extensions: mysqli

      - name: Install Composer
        run: composer install --no-interaction

      - name: Fix PHPUnit permissions
        run: chmod +x vendor/bin/phpunit

      - name: Run PHPUnit Tests
        run: |
          echo "Running PHP Unit Tests..."
          vendor/bin/phpunit --configuration phpunit.xml -v
        continue-on-error: false


  backend-api-tests:
    needs: php-unit-tests
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: wordpress_sqe
        ports: ["3306:3306"]
        options: >-
          --health-cmd="mysqladmin ping -h localhost -uroot -proot"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install Python dependencies
        run: pip install pytest requests mysql-connector-python

      - name: Wait for DB
        run: sleep 20

      - name: Run API + DB Tests
        run: pytest Adil-tests -v
        continue-on-error: false


  ui-tests:
    needs: backend-api-tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Cypress
        run: npm install --save-dev cypress

      - name: Run Cypress UI Tests
        run: npx cypress run
        continue-on-error: false
        